@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;700&family=Original+Surfer&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "League Spartan", sans-serif;
}
.homeContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 177.777vw;
	width: 100vw;
	max-height: 100vh;
	max-width: 56.25vh;
	background-image: url(../images/bg.jpg);
	background-size: contain;
	background-position: center;
	margin: 0 auto;
}

/* background styling */
.home {
	height: 177.77vw;
	width: 100vw;
	max-height: 100vh;
	max-width: 56.25vh;
	position: relative;
	overflow: hidden;
}

/* background elements animation */
.bg1,
.bg2 {
	position: absolute;
	bottom: 0px;
	animation: bgAnimation 5s ease-out;
}

.bg1 {
	left: 0px;
	width: 30%;
	bottom: 0;
}
.bg2 {
	right: -20%;
	width: 70%;
	bottom: 0;
}

@keyframes bgAnimation {
	0% {
		transform: translate(0, 100%);
	}
	100% {
		transform: translate(0, 0);
	}
}

/* title opacity animation */
.titleContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
}
.titleContainer div {
	text-align: center;
	font-family: "Original Surfer";
	color: #190566;
}
.title {
	margin-top: 15%;
	font-size: 35px;
}
.subTitle {
	animation: title 2s linear;
	width: 100%;
	margin-top: 7%;
	font-size: 25px;
}

.hand {
	position: absolute;
	bottom: 15%;
	right: 5%;
	animation: hand 5s ease-in;
	width: 30%;
	border-radius: 40%;
}
@media (max-width: 300px) {
	.title {
		margin-top: 10%;
		font-size: 25px;
	}
	.subTitle {
		animation: title 2s linear;
		width: 100%;
		margin-top: 5%;
		font-size: 15px;
	}
}

@keyframes title {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes hand {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	70% {
		opacity: 1;
	}
	85% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}

/* products sliding in animation */

#product1,
#product2,
#product3 {
	width: 30%;
	-webkit-filter: brightness(1);
	cursor: pointer;
	border-radius: 40px;
	border: 5px solid #013364;
}

.shadow1 {
	position: absolute;
	width: 30%;
	height: 22.5%;
	top: 40%;
	left: 15%;
	transform: scale(0.85);
	border-radius: 60px;
	-webkit-box-shadow: 0 0 40px 20px #fffba0;
	-moz-box-shadow: 0 0 40px 20px #fffba0;
	box-shadow: 0 0 40px 20px #fffba0;
	animation: shadow1Animation 5s ease-out;
}
.shadow2 {
	position: absolute;
	width: 30%;
	height: 22.5%;
	opacity: 1;
	top: 65%;
	left: 23%;
	transform: scale(0.85);
	border-radius: 60px;
	-webkit-box-shadow: 0 0 40px 20px #fffba0;
	-moz-box-shadow: 0 0 40px 20px #fffba0;
	box-shadow: 0 0 40px 20px #fffba0;
	animation: shadow2Animation 5s ease-out;
}
.shadow3 {
	position: absolute;
	width: 30%;
	height: 22.5%;
	opacity: 1;
	top: 45%;
	right: 15%;
	transform: scale(0.85);
	border-radius: 60px;
	-webkit-box-shadow: 0 0 40px 20px #fffba0;
	-moz-box-shadow: 0 0 40px 20px #fffba0;
	box-shadow: 0 0 40px 20px #fffba0;
	animation: shadow3Animation 5s ease-out;
}

.product:active {
	-webkit-filter: brightness(50%);
}

#product1 {
	position: absolute;
	opacity: 1;
	top: 40%;
	left: 15%;
	animation: p1Animation 5s ease-out;
}
#product2 {
	position: absolute;
	opacity: 1;
	top: 65%;
	left: 23%;
	animation: p2Animation 5s ease-out;
}
#product3 {
	position: absolute;
	opacity: 1;
	top: 45%;
	right: 15%;
	animation: p3Animation 5s ease-out;
}

@keyframes p1Animation {
	0% {
		-webkit-filter: brightness(0.5);
		opacity: 1;
		transform: translate(-150%, 0);
	}
	5% {
		transform: translate(-150%, 0);
	}
	35% {
		transform: translate(0, 0);
	}
	55% {
		-webkit-filter: brightness(0.5);
	}
	70% {
		-webkit-filter: brightness(1);
	}
}

@keyframes p2Animation {
	0% {
		-webkit-filter: brightness(0.5);
		transform: translate(-200%, 0);
	}
	15% {
		transform: translate(-200%, 0);
	}
	45% {
		transform: translate(0, 0);
	}
	70% {
		-webkit-filter: brightness(0.5);
	}
	85% {
		-webkit-filter: brightness(1);
	}
}

@keyframes p3Animation {
	0% {
		-webkit-filter: brightness(0.5);
		transform: translate(150%, 0);
	}
	25% {
		transform: translate(150%, 0);
	}
	55% {
		transform: translate(0, 0);
	}
	85% {
		-webkit-filter: brightness(0.5);
	}
	100% {
		-webkit-filter: brightness(1);
	}
}

@keyframes shadow1Animation {
	0% {
		transform: scale(0.85);
		-webkit-box-shadow: 0 0 0 0;
		-moz-box-shadow: 0 0 0 0;
		box-shadow: 0 0 0 0;
	}
	55% {
		-webkit-box-shadow: 0 0 0 0;
		-moz-box-shadow: 0 0 0 0;
		box-shadow: 0 0 0 0;
	}
	70% {
		-webkit-box-shadow: 0 0 40px 20px #fffba0;
		-moz-box-shadow: 0 0 8px 40px 20px #fffba0;
		box-shadow: 0 0 40px 20px #fffba0;
	}
}
@keyframes shadow2Animation {
	0% {
		transform: scale(0.85);
		-webkit-box-shadow: 0 0 0 0;
		-moz-box-shadow: 0 0 0 0;
		box-shadow: 0 0 0 0;
	}
	70% {
		-webkit-box-shadow: 0 0 0 0;
		-moz-box-shadow: 0 0 0 0;
		box-shadow: 0 0 0 0;
	}
	85% {
		-webkit-box-shadow: 0 0 40px 20px #fffba0;
		-moz-box-shadow: 0 0 8px 40px 20px #fffba0;
		box-shadow: 0 0 40px 20px #fffba0;
	}
}
@keyframes shadow3Animation {
	0% {
		transform: scale(0.85);
		-webkit-box-shadow: 0 0 0 0;
		-moz-box-shadow: 0 0 0 0;
		box-shadow: 0 0 0 0;
	}
	85% {
		-webkit-box-shadow: 0 0 0 0;
		-moz-box-shadow: 0 0 0 0;
		box-shadow: 0 0 0 0;
	}
	100% {
		-webkit-box-shadow: 0 0 40px 20px #fffba0;
		-moz-box-shadow: 0 0 8px 40px 20px #fffba0;
		box-shadow: 0 0 40px 20px #fffba0;
	}
}

/* product card sliding in animation */
.card {
	width: 96%;
	position: absolute;
	left: 2%;
	z-index: 5;
	bottom: -5%;
	display: none;
	border-radius: 50px;
}

.card #cardImage {
	width: 100%;
	height: auto;
}
.card .cardImage {
	border-radius: 50px;
	-webkit-box-shadow: 2px -5px 7px 0px rgba(66, 68, 90, 1);
	-moz-box-shadow: 2px -5px 7px 0px rgba(66, 68, 90, 1);
	box-shadow: 2px -5px 7px 0px rgba(66, 68, 90, 1);
}

.card img {
	width: 100%;
	height: auto;
	border-radius: 10px;
}
.card #moreButton {
	-webkit-box-shadow: 5px 5px 9px 0px rgba(66, 68, 90, 1);
	-moz-box-shadow: 5px 5px 9px 0px rgba(66, 68, 90, 1);
	box-shadow: 5px 5px 9px 0px rgba(66, 68, 90, 1);
}

.show {
	animation: showCard 1s ease-out;
	display: block;
}
@keyframes showCard {
	0% {
		transform: translate(0, 95%);
	}
	100% {
		transform: translate(0, 0);
	}
}

/* buttons styling */
.card .buttonWrapper {
	position: absolute;
	bottom: 9%;
	display: flex;
	justify-content: left;
	align-items: stretch;
	width: 100%;
	height: 50px;
}
.card #backButton {
	width: 15%;
	margin: auto auto;
	margin-left: 10%;
}
.card #backButton:hover {
	cursor: pointer;
}
.card #moreButton {
	margin: auto auto;
	width: 60%;
	margin-right: 3%;
}
.card #moreButton:hover {
	cursor: pointer;
}

/* hiding card animation */
.hide {
	animation: hideCard 1s ease-in;
	display: block;
	transform: translate(0, -200%);
}
@keyframes hideCard {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(0, 95%);
	}
}

.cardDescription {
	animation: title 1s linear;
	position: absolute;
	top: 5%;
	left: 5%;
	overflow: hidden;
}
.descriptionTitle {
	margin-bottom: 5%;
}
.descriptionTitle span {
	font-family: "Original Surfer";
	font-size: 2rem;
}
.cardDescription .options span {
	font-family: "Original Surfer";
	font-size: 1.3rem;
}
.cardDescription .options ul {
	list-style: none;
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: baseline;
}
.cardDescription .options ul a {
	font-family: "Original Surfer";
	text-decoration: none;
	color: white;
	font-size: 1.1rem;
}

.cardDescription .options ul li {
	display: inline-block;
	border: 2px solid #169ca7;
	border-radius: 10px;
	height: 30%;
	margin: 2% 2%;
	padding: 0.5% 4%;
}

.cardDescription .options ul li:hover {
	border-color: #ea5707;
	transition: 0.5s;
}

.buttonHide {
	display: none;
}

@media (max-width: 300px) {
	.descriptionTitle {
		margin-bottom: 3%;
	}
	.descriptionTitle span {
		font-size: 1rem;
	}
	.cardDescription .options span {
		font-size: 0.8rem;
	}
	.cardDescription .options ul a {
		font-size: 0.7rem;
	}
	.cardDescription .options ul li {
		border: 1px solid #169ca7;
		border-radius: 7px;
		margin: 1% 1%;
		padding: 0.5% 4%;
	}
}
