* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.homeContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 177.777vw;
	width: 100vw;
	max-height: 100vh;
	max-width: 56.25vh;
	background-image: url(../images/bg.jpg);
	background-size: contain;
	background-position: center;
	margin: 0 auto;
}

/* background styling */
.home {
	height: 177.77vw;
	width: 100vw;
	max-height: 100vh;
	max-width: 56.25vh;
	position: relative;
	overflow: hidden;
}

/* background elements animation */
.bg1,
.bg2 {
	position: absolute;
	bottom: 0px;
	animation: bgAnimation 5s ease-out;
}

.bg1 {
	left: 0px;
	width: 30%;
	bottom: 0;
}
.bg2 {
	right: -20%;
	width: 70%;
	bottom: 0;
}

@keyframes bgAnimation {
	0% {
		transform: translate(0, 100%);
	}
	100% {
		transform: translate(0, 0);
	}
}

/* title opacity animation */
.textTitle {
	animation: title 8s linear;
	width: 100%;
	margin-top: 40%;
}

.hand {
	position: absolute;
	bottom: 10%;
	right: 5%;
	animation: hand 10s ease-in;
	width: 40%;
}

@keyframes title {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes hand {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	70% {
		opacity: 1;
	}
	85% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}

/* products sliding in animation */

#product1,
#product2,
#product3 {
	width: 30%;
	-webkit-filter: brightness(1);
	cursor: pointer;
}

.shadow1 {
	position: absolute;
	width: 30%;
	height: 22.5%;
	top: 40%;
	left: 15%;
	transform: scale(0.85);
	border-radius: 60px;
	-webkit-box-shadow: 0 0 40px 20px rgba(229, 216, 66, 1);
	-moz-box-shadow: 0 0 40px 20px rgba(229, 216, 66, 1);
	box-shadow: 0 0 40px 20px rgba(229, 216, 66, 1);
	animation: shadow1Animation 10s ease-out;
}
.shadow2 {
	position: absolute;
	width: 30%;
	height: 22.5%;
	opacity: 1;
	top: 65%;
	left: 23%;
	transform: scale(0.85);
	border-radius: 60px;
	-webkit-box-shadow: 0 0 40px 20px rgba(229, 216, 66, 1);
	-moz-box-shadow: 0 0 40px 20px rgba(229, 216, 66, 1);
	box-shadow: 0 0 40px 20px rgba(229, 216, 66, 1);
	animation: shadow2Animation 10s ease-out;
}
.shadow3 {
	position: absolute;
	width: 30%;
	height: 22.5%;
	opacity: 1;
	top: 45%;
	right: 15%;
	transform: scale(0.85);
	border-radius: 60px;
	-webkit-box-shadow: 0 0 40px 20px rgba(229, 216, 66, 1);
	-moz-box-shadow: 0 0 40px 20px rgba(229, 216, 66, 1);
	box-shadow: 0 0 40px 20px rgba(229, 216, 66, 1);
	animation: shadow3Animation 10s ease-out;
}

.product:active {
	-webkit-filter: brightness(50%);
}

#product1 {
	position: absolute;
	opacity: 1;
	top: 40%;
	left: 15%;
	animation: p1Animation 10s ease-out;
}
#product2 {
	position: absolute;
	opacity: 1;
	top: 65%;
	left: 23%;
	animation: p2Animation 10s ease-out;
}
#product3 {
	position: absolute;
	opacity: 1;
	top: 45%;
	right: 15%;
	animation: p3Animation 10s ease-out;
}

@keyframes p1Animation {
	0% {
		-webkit-filter: brightness(0);
		opacity: 1;
		transform: translate(-150%, 0);
	}
	5% {
		transform: translate(-150%, 0);
	}
	35% {
		transform: translate(0, 0);
	}
	55% {
		-webkit-filter: brightness(0);
	}
	70% {
		-webkit-filter: brightness(1);
	}
}

@keyframes p2Animation {
	0% {
		-webkit-filter: brightness(0);
		transform: translate(-200%, 0);
	}
	15% {
		transform: translate(-200%, 0);
	}
	45% {
		transform: translate(0, 0);
	}
	70% {
		-webkit-filter: brightness(0);
	}
	85% {
		-webkit-filter: brightness(1);
	}
}

@keyframes p3Animation {
	0% {
		-webkit-filter: brightness(0);
		transform: translate(150%, 0);
	}
	25% {
		transform: translate(150%, 0);
	}
	55% {
		transform: translate(0, 0);
	}
	85% {
		-webkit-filter: brightness(0);
	}
	100% {
		-webkit-filter: brightness(1);
	}
}

@keyframes shadow1Animation {
	0% {
		transform: scale(0.85);
		-webkit-box-shadow: 0 0 0 0;
		-moz-box-shadow: 0 0 0 0;
		box-shadow: 0 0 0 0;
	}
	55% {
		-webkit-box-shadow: 0 0 0 0;
		-moz-box-shadow: 0 0 0 0;
		box-shadow: 0 0 0 0;
	}
	70% {
		-webkit-box-shadow: 0 0 40px 20px rgba(229, 216, 66, 1);
		-moz-box-shadow: 0 0 8px 40px 20px rgba(229, 216, 66, 1);
		box-shadow: 0 0 40px 20px rgba(229, 216, 66, 1);
	}
}
@keyframes shadow2Animation {
	0% {
		transform: scale(0.85);
		-webkit-box-shadow: 0 0 0 0;
		-moz-box-shadow: 0 0 0 0;
		box-shadow: 0 0 0 0;
	}
	70% {
		-webkit-box-shadow: 0 0 0 0;
		-moz-box-shadow: 0 0 0 0;
		box-shadow: 0 0 0 0;
	}
	85% {
		-webkit-box-shadow: 0 0 40px 20px rgba(229, 216, 66, 1);
		-moz-box-shadow: 0 0 8px 40px 20px rgba(229, 216, 66, 1);
		box-shadow: 0 0 40px 20px rgba(229, 216, 66, 1);
	}
}
@keyframes shadow3Animation {
	0% {
		transform: scale(0.85);
		-webkit-box-shadow: 0 0 0 0;
		-moz-box-shadow: 0 0 0 0;
		box-shadow: 0 0 0 0;
	}
	85% {
		-webkit-box-shadow: 0 0 0 0;
		-moz-box-shadow: 0 0 0 0;
		box-shadow: 0 0 0 0;
	}
	100% {
		-webkit-box-shadow: 0 0 40px 20px rgba(229, 216, 66, 1);
		-moz-box-shadow: 0 0 8px 40px 20px rgba(229, 216, 66, 1);
		box-shadow: 0 0 40px 20px rgba(229, 216, 66, 1);
	}
}

/* product card sliding in animation */
.card {
	width: 100%;
	position: absolute;
	left: 0;
	z-index: 5;
	bottom: -5%;
	display: none;
}
.card #cardImage {
	width: 100%;
	height: auto;
}

.card img {
	width: 100%;
	height: auto;
}

.show {
	animation: showCard 1s ease-out;
	display: block;
}
@keyframes showCard {
	0% {
		transform: translate(0, 95%);
	}
	100% {
		transform: translate(0, 0);
	}
}

/* buttons styling */
.card .buttonWrapper {
	position: absolute;
	bottom: 9%;
	display: flex;
	justify-content: space-around;
	width: 100%;
}
.card #backButton {
	width: 15%;
	margin: auto 0;
	margin-left: 3%;
}
.card #backButton:hover {
	cursor: pointer;
}
.card #moreButton {
	width: 60%;
	margin-right: 3%;
}
.card #moreButton:hover {
	cursor: pointer;
}

/* hiding card animation */
.hide {
	animation: hideCard 1s ease-in;
	display: block;
	transform: translate(0, -200%);
}
@keyframes hideCard {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(0, 95%);
	}
}
